@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.body {
    min-height: 100vh;
    margin: 0;
}

#head-main-list {
    list-style: none;
    display: flex;
}

#contact-info-list {
    list-style: none;
    display: flex;
}

.body-navbar {
    display: flex;
    align-items: center;
    background-color: black;
    position: fixed;
    width: 100%;
}

#nav-icon {
    height: 4rem;
}

.head-main-list-item {
    font-family: "Roboto Mono";
    color: white;
    margin: 0 1rem;
}

#nav-total-button {
    background-color: black;
    border: white solid 1px;
    font-family: "Roboto Mono";
    color: white;
    padding: 0.5rem;
    border-radius: 7px;
    font-size: 1.05rem;
}

#title {
    font-family: "Dancing Script";
    font-size: 6rem;
    color: white;

}

#title-button {
    background-color: black;
    border: white solid 1px;
    padding: 1rem 2rem; 
    font-family: "Dancing Script";
    font-size: 2rem;
    color: white;
    border-radius: 7px;
}

#title-button:hover {
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;
    background-image: url(./Images/nav-burger.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#main {
    width: 100%;
}

#main-section-1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 3rem;
}

#main-about-div {
    margin-left: 20%;
    margin-right: 5rem;
}

#main-about-heading {
    font-family: "Dancing Script";
    font-size: 5rem;
    margin-bottom: 1rem;

}

#main-about-p {
    font-family: "Dancing Script";
    font-size: 1.5rem;

}

#main-about-button {
    border: black solid 1px;
    padding: 0rem 1.5rem; 
    font-family: "Dancing Script";
    font-size: 2rem;
    background-color: white;

    border-radius: 7px;
}
#main-img-div {
    margin-right: 40rem;
    margin-top: 5rem;
}
#main-img {
    height: 26rem;
    box-shadow:  rgb(255, 255, 255) 15px -15px 0px -4px, rgb(70, 214, 126) 16px -16px;
}

#array-button-div {
    display: flex;
    align-self: center;

}

#main-section-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);

}
.array-button-selector {
    margin: 0rem 1rem;
    font-size: 1.5rem;
    border-radius: 7px;
    border: solid 1.5px black;
    font-family: "Dancing Script";
}

#section-2-title {
    margin-top: 7rem;
    font-family: "Dancing Script";
    font-size: 4rem;
    align-self: center;
    font-weight: 700;
}

#product-arry-display {
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 20%;
}

.product-card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 7px;
    background-color: white;
    width: 20rem;
    margin: 2rem 2rem;
}

.product-price {
    margin-left: auto;
}

.product-desc {
    background: white;
    display: flex;
    border-radius: 7px;
}

.product-image {
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    
}   

.product-image-container {
    overflow: hidden;
    position: relative;
    cursor: pointer;

}

.product-image:hover {
    transition: all 1s ease-in-out;
    transform: scale(1.2);
}
